<div id="s{{id}}" class="secreto mb-3 female">
  <div class="card-header">
    <i class="far fa-user mr-2"></i>
    {{author}}, mujer de {{age}} años:
  </div>
  <div class="card-body">
    <p class="card-text">
      {{content}}
    </p>
  </div>
  <div class="card-footer text-muted pt-1 pb-1">
    <div class="voting d-inline-flex">
      <p class="score">{{votes}}</p>
      <button class="upvote" onclick="vote({{id}}, 1)"><i class="fas fa-thumbs-up ml-1"></i></button>
      <button class="downvote" onclick="vote({{id}}, -1)"><i class="fas fa-ban" ></i></button>
    </div>
    {{!-- <i class="fas fa-comments"></i> --}}
    <p class="timestamp pt-1 pb-1 m-0">{{formatDate date}} a las {{formatTime time}}</p>

  </div>
</div>