<div class="secreto mb-3 male">
  <div class="card-header">
    <i class="far fa-user mr-2"></i>
    {{author}}, hombre de {{age}} años:
  </div>
  <div class="card-body">
    <p class="card-text">
      {{content}}
    </p>
  </div>
  <div class="card-footer text-muted pt-1 pb-1">
    {{!-- <i class="fas fa-comments"></i> --}}
    {{formatDate date}} a las {{formatTime time}}
  </div>
</div>